#tableDefinitionForm .radio-btn input {
  margin:0 5px 0 0 !important;
}

#tableDefinitionForm button.done {
 margin:0 10px 0 0;
}

.txt {
    width: 90%;
}

.num {
    width: 100px;
}
/* default: 400x250 */
#sbox-window {
	width: 400px !important;
	height: 450px !important;
}

.note {
    font-size: 0.8rem;
}